<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= titlePage %></title>

</head>
<%- include("./btnStyle.ejs") %>
<body>

    <main>
        <nav>
            <a href="/" >
                <button class="buttonHead"><span>
                    Home
                </span>
                </button>
            </a>
            
            <a href="/movies">
                <button class="buttonHead"><span>
                    All movies
                </span>
                </button>
            </a>

            <a href="/movies/new" >
                <button class="buttonHead"><span>
                    Add new movie
                </span>
                </button>
            </a>

            <a href="/signup" >
                <button class="buttonHead"><span>
                    Sign up
                </span>
                </button>
            </a>

            <a href="/login" >
                <button class="buttonHead"><span>
                    Log in
                </span>
                </button>
            </a>
        </nav>
        <hr>
    
    
    